<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }} Quiz</title>
</head>
<body>
    <h2>{{ category.name }} Quiz</h2>

    <form method="post">
        {% csrf_token %}
        {% for q in questions %}
            <div>
                <p><b>Q{{ forloop.counter }}:</b> {{ q.question_text }}</p>
                <label><input type="radio" name="{{ q.id }}" value="A"> {{ q.option_a }}</label><br>
                <label><input type="radio" name="{{ q.id }}" value="B"> {{ q.option_b }}</label><br>
                <label><input type="radio" name="{{ q.id }}" value="C"> {{ q.option_c }}</label><br>
                <label><input type="radio" name="{{ q.id }}" value="D"> {{ q.option_d }}</label><br>
            </div>
            <hr>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
